h1 {
 color: green;
 margin: 0 0 0 0;
}

ul li {
 color: darkgreen;
 list-style-type: none;
 margin: 5px;
 text-decoration: none;
}

ul li a {
 color: darkgreen;
 text-decoration: none;
}

/*******************
COLORS
******************/

header {
 background-color: lightgrey;
 padding: 0 0 20px 0
}

nav {
  list-style-type: none;
  text-decoration: none;
 
 
 
}

